:root {
  --primary: #004AC6;
  --primary-light: #2563EB;

  --text-primary: #0B1C30;
  --text-secondary: #434655;
  --text-muted: #737686;

  --bg-primary: #F8F9FF;
  --bg-secondary: #EFF4FF;

  --success: #16A34A;
  --danger: #FF0000;
}